@charset "utf-8";

* {
    list-style: none;

    margin: 0;
    padding: 0;
}

.swiper-box {
    overflow: hidden;

    position: relative;

    margin: 0 auto;
}

.img-list-box {
    position: relative;
    top: 0;
    left: 0;
}

.swiper-box,
.image {
    width: 1000px;
    height: 400px;
}

.image {
    float: left;
}

.image img {
    width: 100%;

    object-fit: cover;
}

.indicator-box {
    position: absolute;
    bottom: 20px;
    left: 50%;

    transform: translate( -50%,0);
}

.indicator {
    float: left;

    margin: 0 3px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.arrow-left,
.arrow-right {
    display: none;

    position: absolute;
    top: 50%;

    width: 30px;
    height: 50px;

    line-height: 50px;
    text-align: center;

    color: #fff;
    background: rgba(0, 0, 0, .6);

    transform: translate( 0,-50%);

    cursor: pointer;
    user-select: none;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.indicator {
    cursor: pointer;
}

.indicator-box .active {
    background-color: #fff;
}
