@charset "utf-8";
body, h3, input, ul, li {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cf::after {
    display: block;
    clear: both;
    height: 0;
    content: "";
}

header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-cont {
    width: 85%;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #ccc;
    text-indent: 15px;
}

.search-btn {
    width: 50px;
    height: 30px;
    outline: none;
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 15px;
}

main {
    padding: 10px;
}

.clear-all {
    color: #ccc;
}

ul {
    list-style: none;
}

li {
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    float: left;
    color: #fff;
    background-color: #ccc;
}